.cabecalho {
    font-family: 'Raleway', sans-serif;
    background-color: hsl(219, 30%, 18%);
    grid-area: header;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


nav ul {
    display: flex;
    gap: 2rem;
}

nav ul li a {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

nav ul li a:hover {
    text-decoration: underline;
}