.intro {
    background: url(../images/bg-curvy-desktop.svg) no-repeat bottom hsl(217, 28%, 15%);
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introducao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.introducao img {
    margin-bottom: 20px;
    width: 600px;
}

.introducao h1 {
    font-family: "Raleway", sans-serif;
    font-size: 700;
    line-height: 1.6;
    width: 550px;
    text-align: center;
    margin-bottom: 20px;
}

.introducao p {
    font-family: 'Open Sans', sans-serif;
    font-size: 400;
    line-height: 1.6;
    width: 425px;
    text-align: center;
    margin-bottom: 20px;
}

.iniciar {
    border: none;
    height: 40px;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

}

.iniciar:hover {
    background: linear-gradient(to right,  hsl(198, 60%, 50%), hsl(176, 68%, 64%));
}